# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# Ignore environment and virtual environment directories
.venv/

# Ignore Dockerfile and dockerignore (optional, if not needed in the image)
.dockerignore
Dockerfile

# Ignore git-related files
.git/
.gitignore